APP_ENV=dev
DEBUG=true

POSTGRES_USER=raguser
POSTGRES_PASSWORD=ragpass
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=ragdb

GEMINI_API_KEY=topscrept
GEMINI_MODEL=gemini-2.5-flash
GEMINI_EMBEDDING_MODEL=gemini-embedding-001

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000